$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.bookcase {
  height: 2000px;
  background: url('../images/wood.svg');
}

.book-container {
  width: 100%;
  float: left;
  text-align: center;
}

.shelf-container {
  width: 100%;
  float: left;
  position: absolute;
}

.shelf {
  background: url('../images/wood.svg');
  width: 100%;
  float: left;
  height: 50px;
  margin-top: 550px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0px -10px 20px 5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px -10px 20px 5px rgba(50, 50, 50, 0.5);
  box-shadow:         0px -10px 20px 5px rgba(50, 50, 50, 0.5);
}

.shelf:first-child {
  margin-top: 600px;
}

.shelf .overlay {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  height: inherit;
}

.book-spine {
  float: left;
  border: 1px solid #000;
  border-radius: 7px;
  background: url('../images/dark-leather.png');
  -webkit-box-shadow: 0px -10px 20px 5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px -10px 20px 5px rgba(50, 50, 50, 0.5);
  box-shadow:         0px -10px 20px 5px rgba(50, 50, 50, 0.5);
  z-index: 20;
  position: relative;
  max-width: 200px;
}

.scale {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.2);
  z-index: 40;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}


.book-spine .hrule {
  width: 100%;
  height: 1px;
  margin: 25px 0;
  border-top: 5px ridge #fef087;
  display: block;
}

.book-spine .bottom-title {
  margin-bottom: 0;
}

.book-spine .gradient {
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: inherit;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjQ1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

.text {
  color: #fef087;
  width: 100%;
}

.book-spine .text span {
  display: block;
  line-height: 1;
  text-align: center;
  padding: 10px 10px;
}

.book-spine .author {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.symbol {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.symbol span {
  display: block;
  position: relative;
  width: 100%;
}

.symbol svg path {
  fill: #fef087
}

.color-1 {
  background-color: #703625;
}

.color-2 {
  background-color: #732b38;
}

.color-3 {
  background-color: #2c3c33;
}

.color-4 {
  background-color: #2e2526;
}

.color-5 {
  background-color: #242726;
}

.color-6 {
  background-color: #9b1e28;
}

.color-7 {
  background-color: #203654;
}

.font-weight-1 {
  font-weight: bold;
}

.font-weight-2 {
  font-weight: normal;
}

.font-family-1 {
  font-family: "Times New Roman";
}

.font-family-2 {
  font-family: "optimus";
}

.font-family-3 {
  font-family: "constantine";
}

@font-face {
  font-family: optimus;
  src: url(../fonts/OptimusPrinceps.ttf);
}

@font-face {
  font-family: constantine;
  src: url(../fonts/Constantine.ttf);
}